<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />
</head>
<div class="container">
  <!--formi, jonka submittaamalla saadaan kaikki tarvittavat tiedot käyttäjän tekemästä kyselystä-->
  <form class="formi" #f="ngForm" novalidate>
    <span class="statictext divmargin"> Question </span>
    <input class="kysymys" type="text" required minlength="3" />

    <span class="statictext divmargin">Format</span>

    <!--radionapit wräpätty diveihin, jotta ne menevät titlen kanssa molemmat samaan grid slottiin-->
    <div class="divmarginsmall">
      <span class="statictextsmall">Multiple choice</span>
      <input type="radio" name="choice" />
    </div>

    <div class="divmarginsmall">
      <span class="statictextsmall">Opinion grid</span>
      <input type="radio" name="choice" />
    </div>

    <div class="divmarginsmall">
      <span class="statictextsmall">Wheel of fortune</span>
      <input type="radio" name="choice" />
    </div>

    <!-- vaihtoehtojen kirjoittamiselle tekstikenttä -->
    <span class="statictext divmargin">Choices</span>
    <div *ngFor="let item of vaihtoehdot">
      <input
        class="choice"
        type="text"
        [(ngModel)]="item.vaihtoehto"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <!-- vaihtoehtojen lisäämiselle nappi -->
    <button class="add" type="button">
      <button class="addroboto" (click)="addForm()">
        <img
          src="/assets/images/plusicon.png"
          alt="plusicon"
          class="iconplus"
        />
      </button>
    </button>
  </form>

  <!-- huoneen luonnin nappi -->
  <button class="create" type="button">
    <button class="createroboto" routerLink="/user">
      <span class="buttontext"> Create </span>
    </button>
  </button>

  <!-- nappi jos tarvitsee palata etusivulle -->
  <button class="create" type="button">
    <button class="createroboto" routerLink="/etusivu">
      <span class="buttontext"> Back </span>
    </button>
  </button>
</div>
