.container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin-top: 20px;
  max-height: 100vh;
}

/* form put in to a grid */
.form {
  justify-self: center;
  display: grid;
  max-height: 100vh;
  width: 300px;
}

/* texfield style for the main question */
.question {
  justify-self: start;
  width: 300px;
  height: 1.5em;
}

/* textfield style for the answer options */
.choice {
  justify-self: start;
  width: 300px;
  height: 1.5em;
  margin-bottom: 1em;
}

/* textstyles for the headlines */
.statictext {
  font-size: 1.25em;
  justify-self: start;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/* textstyles for the question format choices */
.statictextsmall {
  font-size: 1.25em;
  justify-self: start;
  font-family: "Roboto", sans-serif;
}

/* margin for textfields and headlines */
.divmargin {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* margin for checkboxes */
.divmarginsmall {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* create button container styles */
.create {
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: transparent;
}

/* styles for the actual CREATE button visible in the UI */
.createroboto {
  width: 70vw;
  max-width: 400px;
  align-self: center;
  justify-self: center;
  padding: 26px 34.66666793823242px;
  box-shadow: 0px 4.333333492279053px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* effect to make the button look like its being pressed */
.createroboto:active {
  background-color: rgb(217, 217, 217);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}

/* textstyle for all the button texts */
.buttontext {
  color: var(--dl-color-gray-900);
  height: auto;
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  line-height: 34.66666793823242px;
  font-stretch: normal;
  text-transform: uppercase;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

/* container for the ADD (answer choice) button */
.add {
  justify-self: flex-start;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: transparent;
}

/* ADD (choice) button styles */
.addroboto {
  width: 50px;
  align-self: center;
  justify-self: center;
  /* padding: 26px 34.66666793823242px; */
  padding: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* effect to make the button look like its being clicked */
.addroboto:active {
  background-color: rgb(217, 217, 217);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}

/* ADD (choice) button icon style */
.iconplus {
  height: 25px;
  width: 25px;
}
