<!-- div which works as a 2 row grid for the form and the buttons -->
<div class="grid grid-rows-2">
  <!-- form, which on submit posts all the information about the users poll -->
  <!-- form is also in a grid which wraps the question input, radiobuttons, and choices -->
  <form class="grid w-80 justify-self-center" #f="ngForm" novalidate>
    <span class="h1 justify-self-start"> Question </span>
    <input
      class="input-2"
      type="text"
      required
      minlength="3"
      [(ngModel)]="kysymys"
      [ngModelOptions]="{ standalone: true }"
    />

    <span class="h2">Format</span>

    <!--radio buttons wrapped in to divs, so they find the same gridslot with the title-->

    <div class="grid grid-cols-2">
      <span class="breadtext">Multiple choice</span>
      <input
        class="input-3"
        type="radio"
        name="choice"
        value="multiple"
        (change)="changeGender($event)"
        checked
      />
    </div>
<!--TODO: Radio buttons are not aligned evenly, do eet. -- Jyri -->
    <div class="grid grid-cols-2 my-3">
      <span class="breadtext">Opinion grid</span>
      <input
        class="input-3"
        type="radio"
        name="choice"
        value="grid"
        (change)="changeGender($event)"
      />
    </div>

    <div class="grid grid-cols-2">
      <span class="breadtext">Wheel of fortune</span>
      <input
        class="input-3"
        type="radio"
        name="choice"
        value="fortune"
        (change)="changeGender($event)"
      />
    </div>

    <span class="h2">Choices</span>
    <div *ngFor="let item of vaihtoehdot">
      <input
        class="input-2"
        type="text"
        [(ngModel)]="item.vaihtoehto"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
        
    <!-- button for adding answer options -->
    <button
      class="button-3"
      (click)="addForm()"
      type="submit"
    >  <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-12 h-12 justify-self-center self-center"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 8v10m5-5H7m14 0a9 9 0 11-18 0 9 9 0 0118 0z"
             
        /><!--TODO: Get rid of the template svg and make a better one, with blackjack and hookers --Jyri -->
     
      </svg>
    </button>
  </form>

  <div class="grid grid-rows-2 max-h-72">
    <!-- button to create the room -->
    <button
      class="button-1"
      routerLink="/user"
      (click)="submit()"
    >
      <span class="button-text"> Create </span>
    </button>

    <!-- button to return to the frontpage incase of missclick -->
    <button
      class="button-1"
      routerLink="/etusivu"
    >
      <span class="button-text"> Back </span>
    </button>
  </div>
</div>
