.container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  margin-top: 20px;
  max-height: 100vh;
}

/*formi laitettu gridiin */
.formi {
  justify-self: center;
  display: grid;
  max-height: 100vh;
  width: 300px;
}

/* kysymys textfieldin tyyli */
.kysymys {
  justify-self: start;
  width: 300px;
  height: 1.5em;
}

/* vaihtoehtojen tekstikenttien tyylit */
.choice {
  justify-self: start;
  width: 300px;
  height: 1.5em;
  margin-bottom: 1em;
}

/* otsikoiden tekstien tyylit */
.statictext {
  font-size: 1.25em;
  justify-self: start;
  font-family: Roboto;
  font-weight: bold;
}

/* kyselymuodon checkboxien tekstien tyylit */
.statictextsmall {
  font-size: 1.25em;
  justify-self: start;
  font-family: Roboto;
}

/* marginit textfieldeille ja otsikoille */
.divmargin {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* marginit checkboxeille */
.divmarginsmall {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* create napin container tyylit */
.create {
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: transparent;
}

/* create napin tyylit */
.createroboto {
  width: 70vw;
  max-width: 400px;
  align-self: center;
  justify-self: center;
  padding: 26px 34.66666793823242px;
  box-shadow: 0px 4.333333492279053px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* button tekstien fontit */
.buttontext {
  color: var(--dl-color-gray-900);
  height: auto;
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  line-height: 34.66666793823242px;
  font-stretch: normal;
  text-transform: uppercase;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.add {
  /* align-self: flex-start; */
  justify-self: flex-start;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: transparent;
}

/* choicen lisäämisnapin tyylit */
.addroboto {
  width: 50px;
  align-self: center;
  justify-self: center;
  /* padding: 26px 34.66666793823242px; */
  padding: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* add choice napin ikonin koko */
.iconplus {
  height: 25px;
  width: 25px;
}
