<!-- header that holds the app icon, roomcode and the menu button -S -->
<header
  class="bg-app2ndblue w-full flex flex-row justify-between items-center h-14 border-solid border-white border-b-2"
>
  <img src="../assets/icons/icon-72.png" class="ml-3 h-9 w-9" />

  <!-- roomcode is shown based on the component, basically from username view onwards -S -->
  <p class="roomcode" *ngIf="showRoomcode">Roomcode:</p>

  <button mat-button [matMenuTriggerFor]="menu" class="mr-2.5">
    <mat-icon class="mt-1">info</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onOpenDialogClick()">How to use</button>
    <a href="https://www.votea.net/" mat-menu-item>Our website</a>
    <button mat-menu-item>
      <span>Dark mode</span>
      <mat-slide-toggle
        (click)="$event.stopPropagation()"
        (click)="themeSwitch()"
      ></mat-slide-toggle>
    </button>
  </mat-menu>
</header>
