<!-- mat-dialog that constructs the dialog window and holds the content -S -->
<mat-dialog-content>
  <p class="h1 font-sans mb-4">How to use Votea</p>
  <p class="h2 font-sans mb-3">Do you want to join a vote?</p>
  <ul>
    <li class="breadtext mb-3">
      1. Ask the person who created the room in Votea for the room code.
    </li>
    <li class="breadtext mb-3">
      2. Type the code in the front page codeboxes and press Join.
    </li>
    <li class="breadtext mb-3">
      3. Type in your username or choose a random username and Go vote!
    </li>
  </ul>
  <p class="h2 font-sans mb-3">Do you want to make a vote?</p>
  <ul>
    <li class="breadtext mb-3">1. Select Create Room</li>
    <li class="breadtext mb-3">
      2. At the Room Creation View you can enter the question that's voted for,
      choose the type of vote and add choices to vote from. When you're done
      setting up the vote, select Create!
    </li>
    <li class="breadtext mb-3">
      3. Your roomcode is displayed at the top of your screen, share this to the
      people you want to invite to a vote.
    </li>
    <li class="breadtext mb-3">
      4. Type in your username or choose a random username and Go vote!
    </li>
  </ul>
</mat-dialog-content>
<!-- button that closes the dialog -S -->
<mat-dialog-actions>
  <button class="button-1 button-text font-sans" mat-dialog-close>Close</button>
</mat-dialog-actions>
