<mat-dialog-content>
  <p class="h1 font-sans mb-4">How to use Votea</p>
  <p class="h2 font-sans mb-3">Do you want to join a vote?</p>
  <ul>
    <li class="breadtext mb-3">
      1. Ask the person who made the voting room in Votea for the room code!
    </li>
    <li class="breadtext mb-3">2. Type it in on the front page and go wild!</li>
  </ul>
  <p class="h2 font-sans mb-3">Do you want to make a vote?</p>
  <ul>
    <li class="breadtext mb-3">1. Select Create Room</li>
    <li class="breadtext mb-3">
      2. At the Room Creation View you can enter the question that's voted for,
      choose the type of vote and add choices to vote from. When you're done
      setting up the vote, select Create!
    </li>
    <li class="breadtext mb-3">
      3. Choose your username, after that select Go Vote!
    </li>
    <li class="breadtext mb-3">
      4. Vote! Select "Choose for me" if you don't want to choose yourself.
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="button-1 button-text font-sans" mat-dialog-close>Close</button>
</mat-dialog-actions>
