<!-- mat-dialog that constructs the dialog window and holds the content -S -->
<mat-dialog-content>
  <p class="h2 font-sans mb-3">Link to your room:</p>
  <p class="breadtext font-sans mb-3">{{ inviteLink }}</p>
</mat-dialog-content>
<!-- button that closes the dialog -S -->
<mat-dialog-actions class="flex flex-row justify-evenly">
  <button
    class="button-1 font-sans mr-1 uppercase text-lg font-semibold"
    mat-dialog-close
  >
    Close
  </button>
  <button
    (click)="copyToClipboard()"
    class="button-1 font-sans underline uppercase text-lg font-semibold"
  >
    Copy
  </button>
</mat-dialog-actions>
