@tailwind base;
@tailwind components;
@tailwind utilities;

/* set to 100% so that .wrap understands its height attribute -S */
html {
  min-height: 100%;
}

/*Body is just for setting a background gradient. --Jyri*/
body {
  background: linear-gradient(#eefc5e, #f1fc79, #eefc5e);
}

/*.wrap and .svg are part of the SVG animation on the background. --Jyri*/
.wrap {
  height: 100%;
}
.svg {
  position: fixed;
  transform-style: flat;
  opacity: 0.1;
  pointer-events: none;
  z-index: -5;
}
.svg:nth-child(1) {
  left: 55%;
  top: 15%;
  animation: raise1 600s linear infinite;
  transform: scale(0.5);
  filter: blur(-5px);
}
@keyframes raise1 {
  to {
    transform: scale(0.5) rotate(1080deg);
  }
}
.svg:nth-child(2) {
  left: 31%;
  top: 31%;
  animation: raise2 600s linear infinite;
  transform: scale(0.4);
  filter: blur(-4px);
}
@keyframes raise2 {
  to {
    transform: scale(0.4) rotate(-1080deg);
  }
}
.svg:nth-child(3) {
  left: 17%;
  top: 17%;
  animation: raise3 600s linear infinite;
  transform: scale(0.7);
  filter: blur(-3px);
}
@keyframes raise3 {
  to {
    transform: scale(0.7) rotate(1080deg);
  }
}
.svg:nth-child(4) {
  left: 26%;
  top: 36%;
  animation: raise4 600s linear infinite;
  transform: scale(0.9);
  filter: blur(-2px);
}
@keyframes raise4 {
  to {
    transform: scale(0.9) rotate(-720deg);
  }
}
.svg:nth-child(5) {
  left: -10%;
  top: 20%;
  animation: raise5 600s linear infinite;
  transform: scale(0.6);
  filter: blur(-1px);
}
@keyframes raise5 {
  to {
    transform: scale(0.6) rotate(-720deg);
  }
}
.svg:nth-child(6) {
  left: 5%;
  top: 26%;
  animation: raise6 600s linear infinite;
  transform: scale(1);
  filter: blur(0px);
}
@keyframes raise6 {
  to {
    transform: scale(1) rotate(720deg);
  }
}
.svg:nth-child(7) {
  left: 58%;
  top: 48%;
  animation: raise7 600s linear infinite;
  transform: scale(1.9);
  filter: blur(1px);
}
@keyframes raise7 {
  to {
    transform: scale(1.9) rotate(-360deg);
  }
}
.svg:nth-child(8) {
  left: 65%;
  top: 37%;
  animation: raise8 600s linear infinite;
  transform: scale(1.2);
  filter: blur(1px);
}
@keyframes raise8 {
  to {
    transform: scale(1.2) rotate(360deg);
  }
}
.svg:nth-child(9) {
  left: 80%;
  top: 70%;
  animation: raise9 600s linear infinite;
  transform: scale(2.5);
  filter: blur(2px);
}
@keyframes raise9 {
  to {
    transform: scale(2.5) rotate(-360deg);
  }
}
.svg:nth-child(10) {
  left: 23%;
  top: 57%;
  animation: raise10 600s linear infinite;
  transform: scale(2.2);
  filter: blur(2px);
}
@keyframes raise10 {
  to {
    transform: scale(2.2) rotate(360deg);
  }
}
/*end of animated background svg --Jyri*/

@layer base {
  /* typography rules for h1, h2 and bread text -S */
  .h1 {
    font-size: 1.5em;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    z-index: 9;
  }

  .h2 {
    font-size: 1.25em;
    font-weight: 600;
    z-index: 9;
  }

  .breadtext {
    font-size: 1em;
    line-height: 1.5em;
    z-index: 9;
  }

  .roomcode {
    /* text style for the roomcode in the header -S */
    font-size: 1.25em;
    font-weight: 600;
  }
}

/* layer for custom buttons, input fields. Used to have ripple animation on button-1 but replaced it with a darker pressed state - Jyri*/
@layer components {
  /* Removed the unnecessary css rules so only button 
  styles are specified, sizing is done with inline -S*/
  .button-1 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-text-stroke: 1px #d2faf000;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 9;
  }

  @media (min-width: 768px) {
    .button-1 {
      padding: 19px 32px;
    }
  }

  .button-1:before,
  .button-1:after {
    border-radius: 80px;
    z-index: 4;
  }

  .button-1:before {
    background-color: initial;
    /*background-image here is the outer lining of the 
    button element here --Jyri*/
    background-image: linear-gradient(92.83deg, #138a6d 0, #138a6d 60%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -4;
  }

  .button-1:after {
    background-color: initial;
    /*background-image here is the inner coloring of the 
    button element. --Jyri*/
    background-image: linear-gradient(92.83deg, #159979 0, #159979 75%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }

  .button-1:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
  }

  .button-1:active:not(:disabled) {
    /*text color inside the element when clicked --Jyri */
    color: #ccc;
  }

  .button-1:active:not(:disabled):after {
    background-image: linear-gradient(
        0deg,
        rgba(19, 138, 109, 1),
        rgba(19, 138, 109, 1)
      ),
      /*linear-gradient is the gradient inside the button element
      which shows when the button element is clicked --Jyri*/
        linear-gradient(92.83deg, #138a6d 0, #138a6d 90%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }

  .button-1:disabled {
    cursor: default;
    opacity: 0.24;
  }

  .button-3 {
    /*button-3 is for Creation component's "more/less options" button*/
    width: 3rem;
    height: 3rem;
    justify-self: start;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    z-index: 9;
  }

  .button-text {
    /* button-text is for text inside button elements*/
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .input-1 {
    /* input-1 is for Etusivu component's input-field -S */
    width: 11rem;
    height: 3.5rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0rem 0.25rem 0rem 0.25rem;
    z-index: 9;
  }

  .input-2 {
    /*input-2 is for larger input-fields, such as the ones on Creation component - Jyri*/
    width: 18rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 0.25rem 0rem 0.25rem 0rem;
    z-index: 9;
  }
  .input-3 {
    /*input-3 is for the Creation elements radio buttons etc. --Jyri*/
    accent-color: #159979;
    z-index: 9;
    width: 2em;
    height: 2em;
  }
}
