.container {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  margin-top: 20px;
  max-height: 100vh;
}

#title {
  font-size: 1.5em;
  justify-self: center;
  align-self: center;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* username textfieldin tyylit */
#input {
  align-self: center;
  justify-self: center;
  width: 200px;
  height: 50px;
  outline: none;
  text-align: center;
  font-size: 1.5em;
}

#input:hover {
  background-color: rgb(217, 217, 217);
}

#input:focus {
  background-color: rgb(217, 217, 217);
}

/* GO VOTE napin "container" */
.govote {
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: transparent;
}

/* GO VOTE napin tyylit ja gridi asetukset että nuoli-ikoni mahtuu */
.govoteroboto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70vw;
  max-width: 400px;
  align-self: center;
  justify-self: center;
  padding: 26px 34.66666793823242px;
  box-shadow: 0px 4.333333492279053px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* RANDOM napin tyylit */
.randomroboto {
  width: 70vw;
  max-width: 400px;
  align-self: center;
  justify-self: center;
  padding: 26px 34.66666793823242px;
  box-shadow: 0px 4.333333492279053px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: rgb(31, 229, 182);
}

/* button tekstien tyylit */
.buttontext {
  color: var(--dl-color-gray-900);
  height: auto;
  font-size: 1.5em;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: bold;
  line-height: 34.66666793823242px;
  font-stretch: normal;
  text-transform: uppercase;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  align-self: center;
  justify-self: center;
}

/* arrow ikonin tyylit */
.iconarrow {
  width: 45px;
  height: 45px;
  align-self: center;
  justify-self: center;
}
