<!-- div that has display grid and rows for all the elements -->
<div class="grid grid-rows-4 h-screen">
  <!-- title and styles -->
  <p class="h1 font-sans">What is your username?</p>

  <!-- inputfield for username and its styles -->
  <form class=" justify-self-center self-center">
  <input
    class="input-2 font-sans justify-self-center self-center"
    type="text"
    value="{{ name }}"
  />
</form>

  <div class="buttons grid grid-rows-4 h-screen">
  <!-- GO VOTE button and heroicons arrow icon -->
  <button
    class="button-1 justify-self-center self-center w-80 h-32 grid grid-cols-2"
    routerLink="/vote"
  >
    <span class="button-text font-sans justify-self-end self-center">
      Go vote
    </span>
    <!-- TODO: Get rid of the template arrow, make a new svg? -- Jyri -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-14 h-14 justify-self-center self-center"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
      />
    </svg>
  </button>

  <!-- RANDOM USERNAME button -->
  <button
    class="button-1 justify-self-center self-center w-80 h-32"
    (click)="rndm()"
  >
    <span class="button-text font-sans"> Random username </span>
  </button>
</div>
</div>
