.container {
  display: grid;
  max-height: 100vh;
}

.title {
  margin-top: 2em;
  justify-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/* styles for the grid, which holds the voting options in two columns */
.optiongrid {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2em;
  width: 360px;
}

/* styles for the divs which hold the buttons for the voting options */
.optiondiv {
  margin: 0.5em;
  display: grid;
  justify-self: stretch;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* button styles */
.optionbutton {
  max-width: 150px;
  padding: 2em;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* effect to make the buttons look like they are being pressed */
.optionbutton:active {
  background-color: rgb(217, 217, 217);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}

/* font style for the voting options */
.optiontext {
  color: var(--dl-color-gray-900);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-right: 0;
  margin-bottom: 0;
}

/* styles for all the other button texts */
.buttontext {
  color: var(--dl-color-gray-900);
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-right: 0;
  margin-bottom: 0;
}

/* styles for the choose for me button */
.chosenone {
  padding: 1em;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: rgb(31, 229, 182);
  justify-self: center;
}

/* effect for the button to look like its being pressed */
.chosenone:active {
  background-color: rgb(22, 170, 136);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}
