<!-- component in grid which holds title, the voting options and choose for me button-->
<div class="grid grid-rows-3 max-h-screen">
  <!-- title and styles -->
  <p class="h1 justify-around">
    Vote!
</p>

  <!-- grid with two columns, which hold divs, which in turn posts all the voting options as buttons -->
 
  <div class="justify-self-center self-center grid grid-cols-2 w-80">
    <!--grid should be made more dynamic, 
      number of vote buttons will change with every room, 
      depending on what's being voted --Jyri -->
    <div *ngFor="let item of vastausvaihtoehdot" class="justify-self-center">
      <button
        (click)="vote(item.vastausvaihtoehto)"
        class="button-4 bg-appblue"
        routerLink="/result"
      ><!--TODO: Vastausvaihtoehto colors should be the sames as the graph vote colors on the Tulos-screen. --Jyri -->
        {{ item.vastausvaihtoehto }}
      </button>
    </div>
  </div>

  <!-- button which gives your vote to a random option -->
  <button
    class="button-1 mt-20"
    (click)="random()"
    routerLink="/result"
  >
    <span class="button-text"
      >Choose for me</span
    >
  </button>
</div>
