<!-- component in grid (set to whole screen) which holds header, title, the voting options and choose for me button -S -->
<div class="grid h-screen">
  <!-- header that holds the app icon (yet to be replaced with own), the menu button and the roomcode -S -->
  <header
    class="bg-app2ndblue w-full grid grid-cols-3 h-14 border-solid border-white border-b-2"
  >
    <img
      src="../assets/icons/icon-72x72.png"
      class="justify-self-start self-center ml-3 h-9 w-9"
    />

    <div class="flex justify-center items-center">
      <p class="font-sans mr-2 roomcode">Room code:</p>
      <p class="font-sans roomcode"></p>
    </div>

    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="justify-self-end self-center mr-2.5"
    >
      <mat-icon class="mt-1">info</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>How to use</button>
      <a href="https://www.votea.net/" mat-menu-item>Our website</a>
    </mat-menu>
  </header>

  <span class="h1 font-sans"> Vote! </span>

  <!-- grid with two columns, which hold divs, which in turn posts all the voting options as buttons -S -->
  <div class="grid grid-cols-2 justify-self-center w-80">
    <div *ngFor="let item of vastausvaihtoehdot" class="justify-self-center">
      <button
        (click)="vote(item.vastausvaihtoehto)"
        class="button-2 w-36 h-20"
        routerLink="/result"
      >
        {{ item.vastausvaihtoehto }}
      </button>
    </div>
  </div>

  <!-- button which gives your vote to a random option -S -->
  <button
    class="button-1 justify-self-center self-center w-80 h-32 button-text font-sans"
    (click)="random()"
    routerLink="/result"
  >
    Choose for me
  </button>
</div>
