.container {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  margin-top: 20px;
}

/* title styles */
#title {
  font-size: 1.5em;
  justify-self: center;
  align-self: center;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

/* styles for the form that holds the four text boxes */
.roomcode {
  align-self: center;
  justify-self: center;
}

/* styles for the four textfields (boxes) */
#input {
  width: 50px;
  height: 50px;
  margin: 0.5em;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

/* hover and focus effects for the room code inputs  */
#input:hover {
  background-color: rgb(217, 217, 217);
}

#input:focus {
  background-color: rgb(217, 217, 217);
}

/* container for JOIN button */
.join {
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: transparent;
}

/* styles for the actual JOIN button in the UI */
.joinroboto {
  width: 70vw;
  max-width: 400px;
  align-self: center;
  justify-self: center;
  padding: 26px 34.66666793823242px;
  box-shadow: 0px 4.333333492279053px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* effect for the JOIN button which makes it look like its being pressed */
.joinroboto:active {
  background-color: rgb(217, 217, 217);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}

/* container for the CREATE ROOM button */
.create {
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: transparent;
}

/* styles for the actual CREATE ROOM button in the UI */
.createroboto {
  width: 70vw;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-self: center;
  padding: 26px 34.66666793823242px;
  box-shadow: 0px 4.333333492279053px 0px 0px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border-color: rgba(2, 2, 2, 1);
  border-style: solid;
  border-width: 2.1666667461395264px;
  margin-right: 0;
  border-radius: 541.6666870117188px;
  margin-bottom: 0;
  background-color: white;
}

/* effect for CREATE ROOM to make it look like its being pressed */
.createroboto:active {
  background-color: rgb(217, 217, 217);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}

/* styles for all the button texts */
.buttontext {
  color: var(--dl-color-gray-900);
  height: auto;
  font-size: 1.5em;
  font-style: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 34.66666793823242px;
  font-stretch: normal;
  text-transform: uppercase;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

/* CREATE ROOM button plusicons style */
.iconplus {
  align-self: center;
  justify-self: center;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  margin-right: 10.833333969116211px;
  margin-bottom: 0;
}
