<div class="container">
  <p id="title">Enter room code</p>

  <input id="input" type="number" pattern="[0-9]+" />

  <button class="liity">
    <button class="liityroboto" routerLink="/user">
      <span class="buttontext">
        <span>Join</span>
      </span>
    </button>
  </button>

  <!-- <button id="luohuone">Create room</button> -->

  <button class="luohuone">
    <button class="luohuoneroboto" routerLink="/creation">
      <img
        src="/assets/images/plusicon.png"
        alt="iconmarsalkka"
        class="iconplus"
      />
      <span class="buttontext">
        <span>
          <span>Create</span>
          <br />
          <span>room</span>
        </span>
      </span>
    </button>
  </button>
</div>
