/* max dimensions for the chart so it doesnt overflow in mobile view -S */
#myChart {
  max-height: 100%;
  max-width: 100%;
}

/* media query for the chart so that in web it doent take up the whole screen -S */
@media only screen and (min-width: 500px) {
  #myChart {
    max-width: 400px;
    max-height: 400px;
  }
}
